@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}
h1{
    color: #1983b2;
    font-size: 40px;
    margin-bottom: 30px;
}
p{
    font-size: 14px;
}
form{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;

}
form.input{
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
form.label{
  text-align: left;
  display: block;
}
form.button{
    background: #1983b2;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
form.button:hover{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1); 
}
link:hover{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
link{
    background: #1983b2;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}